---
import "../../ui/curriculum-Divmain/divmain.css";
import Text from "../../ui/curriculum-text/Text.astro";
import Lorem from "../../ui/curriculum-lorem/Lorem.astro";
import MainBtn from "../../ui/curriculum-button/MainBtn.astro";
---

<div class="divmain">
  <Text />
  <Lorem />
  <MainBtn />
</div>
