---
import "../../ui/curriculum-DivContainer/containerdiv.css";
import Image from "../../ui/curriculum-etiquetaimage/EtiquetaImage.astro";
import DivMain from "../../ui/curriculum-Divmain/DivMain.astro";
---

<div class="container">
  <DivMain />
  <Image />
</div>
