---
import "../curriculum-lorem/lorem.css";
---

<p class="lorem">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptas
  voluptatem adipisci optio sunt ad illum quibusdam officia expedita, error
  dignissimos suscipit autem sit ipsum quos non distinctio temporibus eum!
</p>
